
.userInfoItemBlock {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--bgPosts);
    -webkit-box-shadow: var(--webkitBoxShadow); 
    box-shadow: var(--boxShadow);
    padding: 20px;
    color: var(--textColor)
}

.userInfoTitle {
    margin-bottom: 20px;
}

.userInfoItem {
    margin-bottom: 5px;
}

.userInfoKey {
    margin-right: 10px;
    font-weight: 550;
    font-size: 15px;
}


.userInfoValue {
    font-size: 14px;
}

.followBtn {
    margin-bottom: 20px;
    font-weight: bold;
}
