.leftbarBody {
    flex: 3;
    height: cal(100vh - 50px);
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    padding: 14px 5px;
    cursor: pointer;
    border-radius: 10px 10px;
}

.sidebarListItem:hover {
    background-color: #E4E6E9;
}

.sidebarIcon {
    margin-right: 15px;
}

.sidebarListText {
    font-weight: 500;
    font-size: 15px;
}

.leftbarProfileImg {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 15px;
}