
.userFriendImg{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 3px;
}


.userFriendItem {
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

.userFriendName {
    font-size: 15px;
    font-weight: 500;
}

.friendsLink {
    text-decoration: none;
}