.followingDiv {
    display: flex;
    align-items: center;
    padding: 10px 3px;
    cursor: pointer;
    border-radius: 10px 10px;
}

.followingDiv:hover {
    background-color: #E4E6E9;
}


.followingImgDiv {
    margin-right: 15px;
    position: relative;
}


.followingProfileImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.followingUsername {
    font-weight: 500;
}