.onlineChatBlock {
    display: flex;
    align-items: center;
    padding: 10px 3px;
    cursor: pointer;
    border-radius: 10px 10px;
}

.onlineChatBlock:hover {
    background-color: #E4E6E9;
}


.onlineChatImgDiv {
    margin-right: 20px;
    position: relative;
}

.onlineChatBadge {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    right: 0;
    border: solid white 2px;
}

.onlineChatImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.onlineChatUsername {
    font-weight: 500;
}