.onlineFriendDiv {
    display: flex;
    align-items: center;
    padding: 10px 3px;
    cursor: pointer;
    border-radius: 10px 10px;
    color: var(--textColor);
}

.onlineFriendDiv:hover {
    background-color: var(--bgHover)
}


.onlineImgDiv {
    margin-right: 15px;
    position: relative;
}

.onlineBadge {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    right: 0;
    border: solid white 2px;
}

.onlineProfileImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.onlineUsename {
    font-weight: 500;
}