
.homeBody {
    /* background-color: #F0F2F5; */
    padding-top: 20px;
    width: 100%;
    margin: 0;
}

.homeLeft {
    padding: 0px 20px;
}

.homeFeed {
    padding: 0px 80px;
}

.homeRight {
    padding: 0px 20px;
}




/* For Mobile view */

@media only screen and (max-width: 600px){
    .homeFeed {
        padding: 30px 20px;
    }

    .homeRight {
        padding: 0px 30px;
    }
}