.homeBody {
    background-color: #F0F2F5;
    padding-top: 20px;
}

.homeLeft {
    padding: 0px 15px;
}

.homeFeed {
    padding: 0px 80px;
}

.homeRight {
    padding: 0px 15px;
}




/* For Mobile view */

@media only screen and (max-width: 600px){
    .homeFeed {
        padding: 30px 20px;
    }

    .homeRight {
        padding: 0px 30px;
    }
}