:root {
    --TopBarBgColor: #1877F2;
    --bgBodyColor: #F0F2F5;
    --bgPosts: white;
    --bgInput: white;
    --textColor: black;
    --bgHover: #E4E6E9;
    --webkitBoxShadow: 0px 0px 6px 0px rgba(0,0,0,0.18); 
    --boxShadow: 0px 0px 6px 0px rgba(0,0,0,0.18);
    --logoColor: white;
    --chatBoxBackground: white;
}


[data-theme='light'] {
    --TopBarBgColor: #1877F2;
    --bgBodyColor: #F0F2F5;
    --bgModalColor: rgb(238, 236, 236);
    --bgPosts: white;
    --bgInput: white;
    --textColor: black;
    --bgHover: #E4E6E9;
    --webkitBoxShadow: 0px 0px 6px 0px rgba(0,0,0,0.18); 
    --boxShadow: 0px 0px 6px 0px rgba(0,0,0,0.18);
    --logoColor: white;
    --chatBoxBackground: white;
    --commentBgColor: rgb(226, 223, 223);
    --errorTextColor: red;
}


[data-theme='dark'] {
    --TopBarBgColor: #2d2d2e;
    --bgBodyColor: rgb(27, 25, 25);
    --bgModalColor: rgb(78, 78, 78);
    --bgPosts: #202022;
    --bgInput: rgb(75, 73, 73);
    --textColor: white;
    --bgHover: #373738;
    --webkitBoxShadow: 0px 0px 6px 0px rgba(133, 131, 131, 0.18); 
    --boxShadow: 0px 0px 6px 0px rgba(148, 145, 145, 0.18);
    --logoColor: #1877F2;
    --chatBoxBackground: rgb(34, 34, 34);
    --commentBgColor: rgb(58, 57, 57);
    --errorTextColor: rgb(203, 235, 20);

}

.appContainer {
    background-color: var(--bgBodyColor);
}